{% extends "base.html.jinja" %}
{% block title %}
CeneoScrapper
{% endblock title %}
{% block content %}
<div class="row justify-content-around">
    <div class=" row row-cols-1 row-cols-md-2 g-5 m-4" style="max-width: 1080px;">
        <div class=" col">
            <div class="card">
                <img src="../static/img/card1.webp" class="card-img-top" alt="..."
                    style="max-height: 15em; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">Cel aplikacji</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
                        architecto
                        maiores dolores sapiente voluptates molestias, corporis quisquam fuga id dignissimos
                        pariatur
                        illo illum aspernatur facere nulla animi a alias placeat!</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../static/img/card2.jpg" class="card-img-top" alt="..."
                    style="max-height: 15em; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">Opis działania aplikacji </h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi expedita
                        quisquam dignissimos atque ut ex quae. Blanditiis, ab. Accusamus provident ut ab! Vel
                        deleniti
                        nesciunt, labore repellat itaque perferendis ipsam.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../static/img/card3.jpg" class="card-img-top" alt="..."
                    style="max-height: 15em; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">Zastosowane biblioteki </h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident
                        distinctio
                        deleniti suscipit autem et beatae molestias nulla itaque magnam unde consectetur dolor fugit
                        asperiores sapiente aliquid qui, aperiam reiciendis possimus?</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../static/img/card4.jpg" class="card-img-top" alt="..."
                    style="max-height: 15em; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">Zastosowane podejścia </h5>
                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe quasi
                        quidem,
                        esse harum nulla voluptates quaerat perferendis quia ipsa blanditiis molestias commodi quod
                        ea
                        dolores. Tempora vel veritatis tempore vero?</p>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock content %}