{% extends "base.html.jinja" %}
{% block title %}
Product list | CeneoScrapper
{% endblock title %}
{% block content %}
<div class="container" style="height: 40vh;">
    <div class=" row justify-content-center  align-items-center row-cols-1 row-cols-md-1 g-5 m-4"
        style="max-width: 1080px; height: 100%;">
        <div class="col table-responsive">
            <table id="productList" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nazwa produktu</th>
                        <th scope="col">Ilość opinii</th>
                        <th scope="col">Ilość wad</th>
                        <th scope="col">Ilość zalet</th>
                        <th scope="col">Średnia ocena</th>
                        <th scope="col">Pobierz plik</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td><a href="/product" class="text-decoration-none">Mark</a></td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Pobierz
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Plik .csv</a></li>
                                    <li><a class="dropdown-item" href="#">Plik .xlsx</a></li>
                                    <li><a class="dropdown-item" href="#">Plik .json</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td><a href="/product" class="text-decoration-none">Mark</a></td>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>@fat</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Pobierz
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Plik .csv</a></li>
                                    <li><a class="dropdown-item" href="#">Plik .xlsx</a></li>
                                    <li><a class="dropdown-item" href="#">Plik .json</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td><a href="/product" class="text-decoration-none">Mark</a></td>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        <td>@twitter</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Pobierz
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Plik .csv</a></li>
                                    <li><a class="dropdown-item" href="#">Plik .xlsx</a></li>
                                    <li><a class="dropdown-item" href="#">Plik .json</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
    crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
{% endblock scripts %}